

<div class="container mt-4">
    <h2 class="mb-3">افزودن تسک جدید</h2>

    <form asp-action="Create" method="post">
       @*  <div class="mb-3">
            <label class="form-label">عنوان</label>
            <input type="text" class="form-control" asp-for="Title" required />
        </div>

        <div class="mb-3">
            <label class="form-label">توضیحات</label>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>
 *@
        <button type="submit" class="btn btn-success">ثبت تسک</button>
        <a href="/Task" class="btn btn-secondary">بازگشت</a>
    </form>
</div>